#mapId {
	height: 600px;
  width: 100%;
}

#shapesChart{
  height: 100%;
  width: 100%;
}


.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

svg {
  position: absolute;
  left: 0px;
}

canvas {
	position: absolute;
	left: 0px;
}
 
.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.selection {
    stroke          : black;
    stroke-width    : 2px;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.01;
    fill            : black;
}

.state {
    stroke  : gray;
    fill    : white;
}


.line--background {
  stroke: gray;
  stroke-opacity: 0.0;
  stroke-width: 1;
}

.line--unselected {
  stroke: #000;
  opacity: 0.0;
  stroke-width: 1;
}

.line--selected {
  stroke: #000;
  opacity: 1;
  stroke-width: 1;
}

text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  fill: rgba(255, 255, 255, 0.8);
}

.mdl-card__supporting-text {
  padding: 0px;
}

.leaflet-control-attribution{
  font-size:6px;
}


.zipcodes {
  opacity: 0.3;
  stroke-width: 0.1;
}